*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background: #250057;
}

.container{
  background: #fff;
  width: 90%;
  max-width: 500px;
  padding: 10px 20px;
  display: flex;
  align-content: center;
  margin: 300px auto;
  border-radius: 10px;
}

.container input{
  width: 100%;
  border: 0;
  outline: 0;
  padding: 10px 0;
  font-size: 23px;
}

.container img{
  width: 25px;
  height: 20px;
  margin-top: 15px;
  cursor: pointer;
}